.postSubtitle {
  margin-top: 3rem;
  color: $dark-light-color;
}
.content-wrap {
  background: $white;
  padding: 2rem 2.5rem;
  margin-left: 1rem;
  > hr {
    width: 3rem;
    margin: 0 auto;
  }
  .row {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 767px) {
    .content-wrap {
      margin: 0;
      padding: 2rem 0.5rem;
    }
  }
.post-preview {
  width: 100%;
  > .post-title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 2rem;
    > a {
      color: $dark-light-color;
      text-decoration: none;
      font-size: 1.5rem;
      &visited {
        color: $dark-light-color;
      }
      &:hover,
      &:focus {
        color: $dark-color;
        text-decoration: underline;
      }
    }
  }
  > .post-meta {
    color: $white-weight-color;
    font-size: 13px;
    margin-top: -6px;
    text-transform: uppercase;
    text-align: center;
    > a {
      text-decoration: none;
      color: $white-weight-color;
      text-transform: lowercase;
      &visited {
        color: $dark-light-color;
      }
      &:hover,
      &:focus {
        color: $dark-color;
        text-decoration: underline;
      }
    }
  }
  > .post-readmore {
    text-align: center;
    margin: 4rem;
    > a {
      text-decoration: none;
      color: $dark-light-color;
      border: solid $dark-light-color 2px;
      padding: 0.4rem 1rem;
      border-radius: 0.2rem;
      margin: 2rem;
      font-size: 0.8rem;
      &visited {
        color: $dark-light-color;
      }
      &:hover,
      &:focus {
        color: $white-little-color;
        text-decoration: none;
        background: $dark-color;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    > a {
      > .post-title {font-size: 20px;}
    }
  }
}

#head-c {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 40px;

  h1 {
    a {color: $light-muted !important;}
    font-family: 'Unthrift First Personal' !important;
    font-size: 60px;
    margin-bottom: 0;
  }

  h3 {
    font-size: 16px;
    letter-spacing: 2px;
    margin: 3px 0 20px 0;
    color: $light-muted !important;
  }

  #social {
    color: $light-muted !important;
    font-size: 16px;
  }
}