.pager {
    margin: 10px 0 10px 0;
    border-top: solid 1px $white-little-color;
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    li {
        list-style: none;
        a {
            text-decoration: none;
            color:$white-weight-color;
            font-size: 0.8rem;
            width: 2rem;
            height: 2rem;
            justify-content: center;
            align-items: center;
            display: flex;
            &:hover {
                color: $white-little-color;
                background: $dark-color;
            }
        }
    }
    li.current-page {
        color: $dark-color;
        background:$white-little-color;
    }
    .disabled {
        > a,
        > a:hover,
        > a:focus,
        > span {
            pointer-events: none;
            color: $gray;
            background-color: transparent;
            cursor: not-allowed;
        }
    }
    li.previous a,li.next a{
        width: 4rem;
    }
}